<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <% title yield(:title) %>
  <% set_meta_tags canonical:  request.base_url + trailing_slash(request.path) if request.query_parameters[:page].present? %>
  <% if request.query_parameters[:page].present? %>
      <% if request.query_parameters[:page].to_i > 1 %>
        <% set_meta_tags prev: trailing_slash(request.original_url).sub(/(?<=page=)\d+/i, (request.query_parameters[:page].to_i - 1).to_s) %>
      <% end %>
      <% if request.query_parameters[:page].to_i + 1 < @codes.total_pages %>
        <% set_meta_tags next: trailing_slash(request.original_url).sub(/(?<=page=)\d+/i, (request.query_parameters[:page].to_i + 1).to_s) %>
      <% end %>
  <% end %>
  <% alternates = Hash.new; locales = I18n.available_locales.join '|' %>
  <% I18n.available_locales.each do |loc| %>
      <% next if loc == locale %>
      <% req_path = trailing_slash(request.path).sub(/^\/?(?:#{locales})/i, "/#{loc}")
         req_path += '/' if req_path == "/#{loc}"
         alternates[loc] = request.base_url + req_path
      %>
  <% end %>
  <% set_meta_tags alternate: alternates unless alternates.blank? %>
  <%= display_meta_tags site: app_name, separator: '&mdash;'.html_safe, charset: 'utf-8', reverse: true, og: {
      title: :title,
      description: :description,
      locale: (locale == :ru ? 'ru_RU' : 'en_US'),
      type: 'website',
      site_name: "#{app_name} - #{t('site_name')}".html_safe,
      url: request.base_url + trailing_slash(request.path),
  } %>

  <% cache "head#{request.original_fullpath}" do %>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>

    <%= stylesheet_link_tag 'light/all', media: 'all', type: 'text/css', 'data-turbolinks-track' => true %>

  <% end %>

  <%= csrf_meta_tags %>

</head>
<body>

<div class="container-fluid" id="wrapper">

  <div class="row">
    <%= render '/layouts/menu_with_sub' %>
  </div>

  <div class="row body">

    <%= render '/codes/codes_list' %>

    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 content" id="page-content-wrapper">
      <% if title.present? %>
        <h1><%= title %></h1>
      <% end %>

      <%= raw bootstrap_flash %>
      <%= yield %>
    </div>

  </div>

  <% cache "footer#{request.original_fullpath}" do %>

  <div class="clearfix"></div>

  <div class="row footer">
    <div class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
        <button type="button" class="navbar-toggle collapsed toggle-nav-menu" data-toggle="collapse" title="<%= t 'show_hide_left_menu' %>">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="container">
          Just for fun. Just for save.
        </div>
      </div>
    </div>
  </div>

</div>

<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <i class="glyphicon glyphicon-chevron-up"></i> <%= t 'back_to_top' %>
    </a>
</span>

  <%= javascript_include_tag 'light/all', type: 'text/javascript', 'data-turbolinks-track' => true %>

  <%= render 'layouts/metrika' if Rails.env.production? %>

</body>
</html>
<% end %>