<%= simple_form_for @code do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <% if locale == :ru %>
        <h2>Пожалуйста, исправьте следующие ошибки (<%= @code.errors.count %>):</h2>
      <% else %>
        <h2><%= pluralize(@code.errors.count, 'error') %> prohibited
          this code from being saved:</h2>
      <% end %>

      <ul>
        <% @code.errors.full_messages.each do |msg| %>
          <li><%= msg.sub('Code', '') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:title) %>
    <%= f.text_field :title, style: 'width: 400px', class: 'form-input' %>
  </div>

  <div class="field">
    <%= render 'bbcode' %>
  </div>

  <div class="field" style="margin-bottom: -300px">
    <%= f.text_area :code, required: true, rows: 15, style: 'width: 700px', 'data-editor' => 'javascript', class: 'form-input' %>
  </div>

  <% if params[:controller] == 'codes' && params[:action] == 'edit' %>
    <% @code.attachments.each do |attachment| %>
      <div class="attach_item">
        <%= link_to "#{attachment.image}", rel: 'prettyPhoto[gallery]' do %>
          <%= image_tag attachment.image, class: 'attach' %>
        <% end %>
        <%= link_to t('Edit'), edit_attachment_path(attachment), class: 'link' %>
        <%= link_to t('Destroy'), attachment, method: :delete, data: {confirm: t('Are you sure?')}, class: 'link' %>
      </div>
    <% end %>
    <br>
    <%= f.file_field :image, multiple: true, name: 'attachments[image][]' %>
  <% else %>
    <%= f.fields_for :attachments do |p| %>
      <div class="field">
        <%= p.label :image %>
        <br>
        <%= p.file_field :image, multiple: true, name: 'attachments[image][]' %>
      </div>
    <% end %>
  <% end %>

  <% if  (@code.new_record? and user_signed_in?) or can_edit? @code, true %>
    <div class="field">
    <%= f.input_field :editable, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.label :editable, t(:editable) %>
    </div>
  <% end %>

  <% if  user_signed_in? and can_edit? @code, true %>
    <div class="field">
      <%= f.label :status, t(:code_status) %>
      <%= f.input_field :status, as: :boolean %>
    </div>
    <div class="field">
      <%= f.label :show_from, t(:show_from) %>
      <%= f.text_field :show_from, class: 'form-input' %>
    </div>
  <% end %>
  <% if !@code.new_record? and @code.user_id.nil? and user_signed_in? and current_user.admin? %>
    <input type="checkbox" name="add_admin_id" id="aid" value="1"> <label for="aid">Add Admin Id</label>
  <% end %>

  <div class="actions" style="margin-top: 20px;">
    <%= f.submit t(@code.new_record? ? 'Insert' : 'Update'), class: 'button' %>
  </div>
<% end %>
<style>
  label {
    display: inline-block;
  }
  label.checkbox {
    float: left;
  }
</style>