<div class="post">
  <% if @user.nil? %>
      <% user = "##{params[:user_id]}" %>
      <%= t 'user_with_id_not_found' %> (<%= params[:user_id] %>) <%= t 'not_found' %>.
  <% else %>
      <% user = @user.username %>

      <% if @user.codes.count.zero? %>
          <b><%= link_to @user.username, create_url('user', @user.id) %></b> <%= t 'without_messages' %>
      <% else %>
          <%= t 'found' %> <%= locale == :ru ? t('message') : pluralize(@user.codes.count, t('message')) %> <%= t 'by' %> <b><%= link_to @user.username, create_url('user', @user.id) %></b>:
          <br>
          <br>
          <% @user.codes.order(id: :desc).each do |code| %>
              <% next if code.show_from.present? and !can_edit?(code, true) and !visible?(code) %>
              <% #url = code.code_url.empty? ? code.id : code.code_url;
                url = code.id;
                 title = code.title.empty? ? "#{t 'Code'} ##{code.id}" : code.title
                 title.sub! /unnamed(?=\s*?#\d+)/i, "#{t 'Code'}"
              %>
              <%= link_to sanitize(title), create_url('codes', url) %>
              <br>
          <% end %>
      <% end %>
  <% end %>
</div>

<% content_for :title, "#{t 'Code list by user'} #{user}" %>
<% title "#{t 'Code list by user'} #{user}" %>
<% description "#{t 'Code list by user'} #{user}" %>
<% keywords "#{t 'Code list by user'} #{user}" %>