<% cache "index_#{locale}" do %>
  <div class="post">
    <b>SaveCode.RU</b> - это сайт, где Вы можете сохранить любой текст, с картинками или без них, без регистрации и навязчивой
    рекламы.<br><br><br>
    Сохранить код - это просто:<br><br>

    <div class="example">
      <%= link_to path_to_image('insert_code/insert_code_example.png'), rel: 'prettyPhoto[gallery]' do %>
        <%= image_tag path_to_image('insert_code/insert_code_example.png'), class: 'attach', alt: 'Написание кода' %>
      <% end %>

      <b> -> </b>
      <%= link_to path_to_image('insert_code/insert_code_example_2.png'), rel: 'prettyPhoto[gallery]' do %>
        <%= image_tag path_to_image('insert_code/insert_code_example_2.png'), class: 'attach', alt: 'Добавление кода' %>
      <% end %>

      <b> -> </b>
      <%= link_to path_to_image('insert_code/insert_attachment_example.png'), rel: 'prettyPhoto[gallery]' do %>
        <%= image_tag path_to_image('insert_code/insert_attachment_example.png'), class: 'attach', alt: 'Выбор кода и изображения' %>
      <% end %>

      <b> -> </b>
      <%= link_to path_to_image('insert_code/insert_attachment_example_2.png'), rel: 'prettyPhoto[gallery]' do %>
        <%= image_tag path_to_image('insert_code/insert_attachment_example_2.png'), class: 'attach', alt: 'Загрузка изображения' %>
      <% end %>

      <b> -> </b>
      <%= link_to path_to_image('insert_code/result.png'), rel: 'prettyPhoto[gallery]' do %>
        <%= image_tag path_to_image('insert_code/result.png'), class: 'attach', alt: 'Результат' %>
      <% end %>
    </div>
  </div>
  <div>
    <br>
    <%= t 'try' %>
    <%= link_to t('try_code'), create_url(new_code_path), class: 'button link' %>
    <%= t 'or' %>
    <%= link_to t('try_attach'), create_url(new_attachment_path), class: 'button link' %>
  </div>
<% end %>