<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 nav-menu">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%= "#{t('Listing codes')} (#{@codes.count})" %></li>
      <% @codes.each do |code| %>
        <% next if code.show_from.present? and !can_edit?(code, true) and !visible?(code) %>

          <% #url = code.code_url.empty? ? code.id : code.code_url;
             title = code.title.empty? ? "#{t 'Code'} ##{code.id}" : code.title
             title.sub! /unnamed(?=\s*?#\d+)/i, "#{t 'Code'}"
             url = "#{code.id}"
          %>
          <li<%= ' class=current' if current_code?(url) %>>
            <%= link_to truncate(sanitize(title), length: 28), create_url('codes', url), title: "#{t 'View code'} #{title}" %>
            <%= link_to 'X', create_url('codes', 'delete', code.id), method: :delete, style: 'color:red;display:inline' if show_delete_links? %>
          </li>

      <% end %>
    </ul>
    <div class="apple_pagination">
      <%= will_paginate(@codes, container: false, inner_window: 1, outer_window: 0).gsub(/Previous|Next/, '').html_safe %>
    </div>
  </div>
</div>