<% if @code.nil? %>
    <%= t 'no_codes' %>..
<% else %>

  <% #cache @code do %>

    <% title = @code.title.empty? ? "#{t 'Code'} ##{@code.id}" : @code.title %>
    <% title.sub! /unnamed(?=\s*?#\d+)/i, "#{t 'Code'}" %>
    <% content_for :title, "#{t 'Show code'} #{title}" %>
    <% content_for :itemname, '  itemprop="headline"'.html_safe %>
    <% content_for :itemscope, ' itemscope itemtype="http://schema.org/Article"'.html_safe %>

       <div class="post" itemprop="articleBody">

      <div style="font-size:10px;font-style:italic;border-bottom: 1px solid #CCC;padding:3px;margin:3px;padding-left:15px">
        <%= t 'Added by' %>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><b itemprop="name"><%= @code.user.nil? ? t('Guest') : @code.user.username %></b></span>
        <span itemprop="datePublished" content="<%= @code.created_at %>"><%= @code.created_at.to_s(:ru_datetime) %></span><br>
        <%= t 'Last edited' %>:
        <span itemprop="dateModified" content="<%= @code.updated_at %>"><%= @code.updated_at.to_s(:ru_datetime) %></span>
      </div>

     <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="<%= request.base_url + trailing_slash(request.path) %>" content="<%= title %>"/>
     <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display:none;">
       <div itemprop="logo image" itemscope itemtype="https://schema.org/ImageObject">
         <%= image_tag image_url('light/logo.png'), alt: app_name, itemprop: 'image' %>
         <meta itemprop="url" content="<%= image_url('light/logo.png') %>">
         <meta itemprop="width" content="160">
         <meta itemprop="height" content="50">
       </div>
       <meta itemprop="name" content="<%= "#{app_name} - #{t('site_name')}".html_safe %>">
     </div>

        <%= raw nl2br(parse_bb_codes @code.code) %>

      <% if @attachments.present? %>
          <fieldset>
            <legend> <%= t 'Attachments' %> </legend>
            <% @attachments.each do |image| %>
                <% cache image do %>
                  <%= link_to image_path(image.image) do %>
                      <%= image_tag image.image, class: 'attach' %>
                  <% end %>
                <% end %>
            <% end %>
          </fieldset>
      <% end %>

    </div>

  <% #end %>

    <% tags = title.gsub(/[^а-яА-ЯЁёA-Za-z]/u, ' ').split(/[_ !.,:;]+/u).delete_if{|x| x.to_s.length < 3} %>
    <% title "#{t 'Show code'} #{title}" %>
    <% description "#{t 'Show code'} #{title}, #{t 'added by'} #{@code.user.nil? ? t('Guest') : @code.user.username}" %>
    <% keywords    "#{t 'Show code'} #{title},#{t 'code'}, #{tags.join(',')}" %>

    <% set_meta_tags og: {type: 'article'} %>
    <% article = {
        published_time: @code.created_at,
        modified_time: @code.updated_at,
        expiration_time: Time.zone.now + 5.day,
        tag: tags,
    }
    article[:section] = '1C-Bitrix' if title =~ /bitrix/i

    %>
    <% unless @code.user.nil? %>
        <% set_meta_tags author: "#{request.base_url}/#{locale}/user/#{@code.user.id}#{url_suffix}" %>
        <% article[:author] = ["#{request.base_url}/#{locale}/user/#{@code.user.id}#{url_suffix}"] %>
    <% end %>

    <% set_meta_tags og: {article: article} %>

<% end %>

