<% if @code.nil? %>
    <%= t 'no_codes' %>..
<% else %>

  <% #cache @code do %>

    <% title = @code.title.empty? ? "#{t 'Code'} ##{@code.id}" : @code.title %>
    <% title.sub! /unnamed(?=\s*?#\d+)/i, "#{t 'Code'}" %>
    <% content_for :title, "#{t 'Show code'} #{title}" %>

       <div class="post">

      <div style="font-size:10px;font-style:italic;border-bottom: 1px solid #CCC;padding:3px;margin:3px;padding-left:15px">
        <%= t 'Added by' %> <b><%= @code.user.nil? ? t('Guest') : @code.user.username %></b> <%= @code.created_at.to_s(:ru_datetime) %><br>
        <%= t 'Last edited' %>: <%= @code.updated_at.to_s(:ru_datetime) %>
      </div>

        <%= raw nl2br(parse_bb_codes @code.code) %>

      <% if @attachments.present? %>
          <fieldset>
            <legend> <%= t 'Attachments' %> </legend>
            <% @attachments.each do |image| %>
                <% cache image do %>
                  <%= link_to image_path(image.image), rel: 'prettyPhoto[]' do %>
                      <%= image_tag image.image, class: 'attach' %>
                  <% end %>
                <% end %>
            <% end %>
          </fieldset>
      <% end %>

    </div>

  <% #end %>

    <% title "#{t 'Show code'} #{title}" %>
    <% description "#{t 'Show code'} #{title}, #{t 'added by'} #{@code.user.nil? ? t('Guest') : @code.user.username}" %>
    <% keywords    "#{t 'Show code'} #{title}, #{t 'added by'} #{@code.user.nil? ? t('Guest') : @code.user.username}" %>

    <% unless @code.user.nil? %>
        <% set_meta_tags author: "#{request.base_url}/#{locale}/user/#{@code.user.id}#{url_suffix}" %>
    <% end %>

<% end %>

